.home {
	height: 100vh;
	margin: 0 0 -120px 0;

	&-banner {
		height: 80%;
		justify-content: center;
		align-items: center;
	  color: #fff;

		h1 {
	    font-size: 56px;
	    text-align: center;
		}

		h3 {
	    background: #000;
	    padding: 12px;			
			margin: 24px 0;
	    font-size: 36px;
	    text-align: center;
	    font-family: 'Muli';
	    font-weight: 300;
	    text-transform: uppercase;
		}
	}
}

.notices,
	.team {
	font-family: 'Muli';
	padding: 24px 5%;

	h2 {
		margin: 12px 0 12px;
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		text-transform: uppercase;
	}

	h3 {
		margin: 12px 0 24px;
		text-align: center;
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
	}
}

.notices {
	background-color: #fff;

	&-articles {
		justify-content: space-between;

		article {
			width: 30%;

			figure {
		    height: 230px;
		    overflow: hidden;

				img {
					width: auto;
			    height: 100%;
			    margin: 0 auto;
			    transform: translateX(-50%);
			    margin-left: 50%;
				}
			}

			h4 {
				margin: 12px 0;
				font-size: 18px;
				font-weight: normal;
			}

			p {
				font-weight: 300;
			}
		}
	}
}


.game {
	padding: 0;
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;

	&-call {
    height: 100vh;
    align-items: flex-end;
		background: url('../images/BotE.png'), #ffffff;
		background: url('../images/BotE.png'), -moz-linear-gradient(-45deg, #ffffff 0%, #3f5338 100%);
		background: url('../images/BotE.png'), -webkit-linear-gradient(-45deg, #ffffff 0%,#3f5338 100%);
		background: url('../images/BotE.png'), linear-gradient(135deg, #ffffff 0%,#3f5338 100%);		
		background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    h2 {
    	color: #8dc863;
	    margin: 38% 5% 0 0;
	    text-align: right;    	
    	font-family: 'Beyond';
	    font-size: 36px;
	    text-shadow: 0 0 26px #24CAFB;    	
    }

    button {
	    width: fit-content;
	    margin: 16px 5% 0 0;
	    background-color: rgb(115, 157, 88);
	    color: #fff;
	    border: 1px solid #66573a;
	    border-radius: 4px;
	    cursor: pointer;
	    padding: 12px 16px;
	    font-size: 16px;
	    text-transform: uppercase;

	    &:hover {
	    	opacity: 0.75;
	    }

	    &:active {
		    background-color: #fff;
		    color: rgb(115, 157, 88);    	
	    }
    }
	}

	&-devices {
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;

    &-title {
			margin: 0 0 0 5%;
			font-weight: bold;

			h2 {
				font-family: 'Muli';
				font-size: 24px;
				text-transform: uppercase;
			}

			h3 {
				font-family: 'Beyond';
				font-size: 42px;				
			}
    }

    aside {

    }

		&-item {
			border: 1px solid #fff;
		}

    &-col {
    	width: 200px;
    	padding: 16px 28px;
    	font-family: 'Muli';
    	font-size: 16px;

    	&:nth-child(1) {
				flex: 1;
				font-weight: bold;
    	}

    	&:nth-child(2) {
				flex: 1.5;
				font-weight: 300;
    	}
    }
	}

	&-mecanics {
    min-height: 100vh;
    align-items: center;

    &-concept {
			flex: 1;
			margin: 0 0 0 5%;

			h4 {
				font-family: 'Pixel';
				text-transform: uppercase;
				margin: 12px 0 6px;
				font-size: 20px;
			}

			p {
				font-family: 'Muli';
				text-align: left;
				font-weight: 300;
				font-size: 17px;
			}
    }

    &-title {
			flex: 1;
			text-align: center;

			h2 {
				font-family: 'Muli';
				font-size: 24px;
				text-transform: uppercase;
			}

			h3 {
				font-family: 'Beyond';
				font-size: 42px;				
			}			
    }

    &-list {
    	flex: 1;	

    	h4 {
				font-family: 'Pixel';
				text-transform: uppercase;
				margin: 12px 0 6px;
				font-size: 20px;
    	}	

    	&-class {
				font-family: 'Muli';

    		&-title {
    			padding: 12px;
					font-weight: bold;
					font-size: 18px;
					border: 1px solid;
    			border-width: 1px 0 1px 1px;
    		}
    	}

  		&-schools {
  			padding: 6px 6px 6px 12px;
				font-weight: 300;
				font-size: 16px;

				span {
					font-style: italic;
				}
  		}
    }
	}

	&-describe {
    min-height: 100vh;
    text-align: center;

		h2 {
			font-family: 'Muli';
			font-size: 24px;
			text-transform: uppercase;
		}

		h3 {
			font-family: 'Beyond';
			font-size: 42px;				
		}	    

		&-paper {
			margin: 24px 5%;
    	padding: 7vh 10vw;
			background: url('../images/paper.png') no-repeat;
			background-size: 100% 100%;
		}

		p {
	    margin: 24px 0 12px 18px;
	    font-family: 'Stonehenge';
	    text-align: left;
	    font-weight: normal;
	    font-size: 20px;
	    color: #af2400;
		}
	}

	&-art {
    min-height: 100vh;
    text-align: center;

		h2 {
			font-family: 'Muli';
			font-size: 24px;
			text-transform: uppercase;
		}

		h3 {
			font-family: 'Beyond';
			font-size: 42px;				
		}	

		div {
			margin: 42px;
			font-family: 'Muli';
			font-size: 24px;
			text-transform: uppercase;	
		}    
	}
}

.team {
	background-color: #000;
	color: #fff;

	&-member {
		flex: 1;

		figure {
	    width: 120px;
	    height: 120px;
	    border-radius: 50%;
	    border: 3px solid #000;
	    box-shadow: 0 0 26px #24CAFB;
	    overflow: hidden;

			img {
				width: auto;
		    height: 100%;
		    margin: 0 auto;
		    transform: translateX(-50%);
		    margin-left: 50%;
			}
		}

		&-info {
			margin: 0 42px;

			h4 {
				font-family: 'Pixel';
				font-size: 24px;
				font-weight: bold;
				text-transform: uppercase;
			}

			span {
				margin: 6px 0 0 0;
				font-family: 'Muli';
				font-size: 18px;
				font-weight: normal;
				font-style: italic;
			}

			p {
				width: 25vw;
				margin: 8px 0 0 0;
				font-family: 'Muli';
				font-size: 16px;
				font-weight: 300;
				font-style: italic;

				&::before {
					content: '"';
				}

				&::after {
					content: '"';
				}
			}
		}

		&:nth-child(1) {
			text-align: right;
			padding: 24px 32px 24px 0;			
		}

		&:nth-child(2) {
    	justify-content: flex-start;
    	text-align: left;
    	padding: 24px 0 24px 32px;
		}
	}
}