/**
 * BASE
 *********************************/

.header {
	background-color: #fff;

	&-title {
		background-color: #fff;
		color: #ff0000;
	}
}

.row {
	display: flex;
	flex-direction: row;
}

.row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.col {
	display: flex;
	flex-direction: column;
}

.col-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.nav {
	justify-content: flex-end;

	&-item {
		width: 50px;
		height: 40px;
		text-align: center;
		display: flex;
    align-items: center;
	}
}