@font-face {
	font-family: 'Minecraft';
	src:url('../fonts/Minecrafter.Reg.ttf');
}

@font-face {
	font-family: 'Muli';
	src:url('../fonts/Muli-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Muli';
	src:url('../fonts/Muli-SemiBold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Muli';
	src:url('../fonts/Muli-SemiExtraLight.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'Muli';
	src:url('../fonts/Muli-Light.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Beyond';
	src:url('../fonts/Beyond.ttf');
	font-weight: 400;
}