html {}

body {
	background: url('../images/general-bg.jpg') no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

main {
  position: relative;
  margin: 125px 0 0 0;
}

a {
	text-decoration: none;
	color: inherit;
}

@media only screen and (max-width: 450px) {

}