.facebook-color {
	color: #3b5998 !important;
}

.twitter-color {
	color: #1da1f2 !important;
}

.instagram-color {
	color: #262626 !important;
}

.youtube-color {
	color: #e62117 !important;
}

.steam-color {
	color: #171a21 !important;
}