/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Minecraft';
  src: url("../fonts/Minecrafter.Reg.ttf"); }

@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli-SemiBold.ttf");
  font-weight: bold; }

@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli-ExtraLight.ttf");
  font-weight: 300; }

@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli-Light.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'Beyond';
  src: url("../fonts/Beyond.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'Pixel';
  src: url("../fonts/Pixel.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'Stonehenge';
  src: url("../fonts/Stonehenge.ttf"); }

body {
  background: url("../images/general-bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover; }

main {
  position: relative;
  margin: 125px 0 0 0; }

/**
 * BASE
 *********************************/
.header {
  background-color: #fff; }
  .header-title {
    background-color: #fff;
    color: #ff0000; }

.row {
  display: flex;
  flex-direction: row; }

.row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.col {
  display: flex;
  flex-direction: column; }

.col-reverse {
  display: flex;
  flex-direction: column-reverse; }

.nav {
  justify-content: flex-end; }
  .nav-item {
    width: 50px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #f3f3f3;
  justify-content: space-between;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); }
  .header-image {
    padding: 20px 24px;
    transition: all .5s ease; }
    .header-image img {
      width: 80px;
      height: 80px;
      transition: all .5s ease; }
    .header-image-mini {
      padding: 8px 24px;
      transition: all .5s ease; }
      .header-image-mini img {
        width: 32px;
        height: 32px;
        transition: all .5s ease; }
  .header-nav {
    display: flex;
    align-items: stretch;
    font-family: 'Minecraft'; }
    .header-nav ul {
      align-items: center; }
      .header-nav ul li {
        height: 100%;
        display: flex;
        align-items: center;
        margin: 20px 0;
        padding: 0 24px;
        cursor: pointer; }
        .header-nav ul li:hover {
          background-color: rgba(255, 255, 255, 0.5); }
        .header-nav ul li:active {
          color: #fff;
          background-color: #000; }

.footer {
  background-color: rgba(0, 0, 0, 0.84); }
  .footer-main {
    padding: 12px 0;
    text-align: center;
    font-family: 'Muli';
    font-weight: 300;
    color: #fff;
    background-color: #dc2d00; }
    .footer-main a, .footer-main a:active, .footer-main a:hover, .footer-main a:visited {
      color: #fff; }

.links-page {
  justify-content: center;
  font-size: 20px;
  color: #fff;
  font-family: 'Muli';
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 0 0 0; }
  .links-page li {
    margin: 32px 22px 0 0; }
    .links-page li a {
      text-decoration: none;
      color: inherit; }

.links-helpers {
  font-size: 18px;
  color: #00ff96;
  font-family: 'Muli';
  font-weight: bold;
  justify-content: center;
  padding: 24px 0 0 0; }
  .links-helpers li {
    border: 2px solid #00ff96;
    border-radius: 255px;
    margin: 42px 22px 0 0;
    padding: 4px 8px 4px 8px; }
    .links-helpers li a {
      text-decoration: none;
      color: inherit; }

.links-social {
  font-size: 42px;
  justify-content: center;
  padding: 16px 0; }
  .links-social li {
    margin: 30px 22px 0 0;
    padding: 4px 8px 4px 8px; }
    .links-social li a {
      text-decoration: none;
      color: inherit; }

.facebook-color {
  color: #3b5998 !important; }

.instagram-color {
  color: #262626 !important; }

.youtube-color {
  color: #e62117 !important; }

.steam-color {
  color: #171a21 !important; }

.home {
  height: 100vh;
  margin: 0 0 -120px 0; }
  .home-banner {
    height: 80%;
    justify-content: center;
    align-items: center;
    color: #fff; }
    .home-banner h1 {
      font-size: 56px;
      text-align: center; }
    .home-banner h3 {
      background: #000;
      padding: 12px;
      margin: 24px 0;
      font-size: 36px;
      text-align: center;
      font-family: 'Muli';
      font-weight: 300;
      text-transform: uppercase; }

.notices,
.team {
  font-family: 'Muli';
  padding: 24px 5%; }
  .notices h2,
  .team h2 {
    margin: 12px 0 12px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase; }
  .notices h3,
  .team h3 {
    margin: 12px 0 24px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase; }

.notices {
  background-color: #fff; }
  .notices-articles {
    justify-content: space-between; }
    .notices-articles article {
      width: 30%; }
      .notices-articles article figure {
        height: 230px;
        overflow: hidden; }
        .notices-articles article figure img {
          width: auto;
          height: 100%;
          margin: 0 auto;
          transform: translateX(-50%);
          margin-left: 50%; }
      .notices-articles article h4 {
        margin: 12px 0;
        font-size: 18px;
        font-weight: normal; }
      .notices-articles article p {
        font-weight: 300; }

.game {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff; }
  .game-call {
    height: 100vh;
    align-items: flex-end;
    background: url("../images/BotE.png"), #ffffff;
    background: url("../images/BotE.png"), -moz-linear-gradient(-45deg, #ffffff 0%, #3f5338 100%);
    background: url("../images/BotE.png"), -webkit-linear-gradient(-45deg, #ffffff 0%, #3f5338 100%);
    background: url("../images/BotE.png"), linear-gradient(135deg, #ffffff 0%, #3f5338 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .game-call h2 {
      color: #8dc863;
      margin: 38% 5% 0 0;
      text-align: right;
      font-family: 'Beyond';
      font-size: 36px;
      text-shadow: 0 0 26px #24CAFB; }
    .game-call button {
      width: fit-content;
      margin: 16px 5% 0 0;
      background-color: #739d58;
      color: #fff;
      border: 1px solid #66573a;
      border-radius: 4px;
      cursor: pointer;
      padding: 12px 16px;
      font-size: 16px;
      text-transform: uppercase; }
      .game-call button:hover {
        opacity: 0.75; }
      .game-call button:active {
        background-color: #fff;
        color: #739d58; }
  .game-devices {
    min-height: 100vh;
    justify-content: space-between;
    align-items: center; }
    .game-devices-title {
      margin: 0 0 0 5%;
      font-weight: bold; }
      .game-devices-title h2 {
        font-family: 'Muli';
        font-size: 24px;
        text-transform: uppercase; }
      .game-devices-title h3 {
        font-family: 'Beyond';
        font-size: 42px; }
    .game-devices-item {
      border: 1px solid #fff; }
    .game-devices-col {
      width: 200px;
      padding: 16px 28px;
      font-family: 'Muli';
      font-size: 16px; }
      .game-devices-col:nth-child(1) {
        flex: 1;
        font-weight: bold; }
      .game-devices-col:nth-child(2) {
        flex: 1.5;
        font-weight: 300; }
  .game-mecanics {
    min-height: 100vh;
    align-items: center; }
    .game-mecanics-concept {
      flex: 1;
      margin: 0 0 0 5%; }
      .game-mecanics-concept h4 {
        font-family: 'Pixel';
        text-transform: uppercase;
        margin: 12px 0 6px;
        font-size: 20px; }
      .game-mecanics-concept p {
        font-family: 'Muli';
        text-align: left;
        font-weight: 300;
        font-size: 17px; }
    .game-mecanics-title {
      flex: 1;
      text-align: center; }
      .game-mecanics-title h2 {
        font-family: 'Muli';
        font-size: 24px;
        text-transform: uppercase; }
      .game-mecanics-title h3 {
        font-family: 'Beyond';
        font-size: 42px; }
    .game-mecanics-list {
      flex: 1; }
      .game-mecanics-list h4 {
        font-family: 'Pixel';
        text-transform: uppercase;
        margin: 12px 0 6px;
        font-size: 20px; }
      .game-mecanics-list-class {
        font-family: 'Muli'; }
        .game-mecanics-list-class-title {
          padding: 12px;
          font-weight: bold;
          font-size: 18px;
          border: 1px solid;
          border-width: 1px 0 1px 1px; }
      .game-mecanics-list-schools {
        padding: 6px 6px 6px 12px;
        font-weight: 300;
        font-size: 16px; }
        .game-mecanics-list-schools span {
          font-style: italic; }
  .game-describe {
    min-height: 100vh;
    text-align: center; }
    .game-describe h2 {
      font-family: 'Muli';
      font-size: 24px;
      text-transform: uppercase; }
    .game-describe h3 {
      font-family: 'Beyond';
      font-size: 42px; }
    .game-describe-paper {
      margin: 24px 5%;
      padding: 7vh 10vw;
      background: url("../images/paper.png") no-repeat;
      background-size: 100% 100%; }
    .game-describe p {
      margin: 24px 0 12px 18px;
      font-family: 'Stonehenge';
      text-align: left;
      font-weight: normal;
      font-size: 20px;
      color: #af2400; }
  .game-art {
    min-height: 100vh;
    text-align: center; }
    .game-art h2 {
      font-family: 'Muli';
      font-size: 24px;
      text-transform: uppercase; }
    .game-art h3 {
      font-family: 'Beyond';
      font-size: 42px; }
    .game-art div {
      margin: 42px;
      font-family: 'Muli';
      font-size: 24px;
      text-transform: uppercase; }

.team {
  background-color: #000;
  color: #fff; }
  .team-member {
    flex: 1; }
    .team-member figure {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 3px solid #000;
      box-shadow: 0 0 26px #24CAFB;
      overflow: hidden; }
      .team-member figure img {
        width: auto;
        height: 100%;
        margin: 0 auto;
        transform: translateX(-50%);
        margin-left: 50%; }
    .team-member-info {
      margin: 0 42px; }
      .team-member-info h4 {
        font-family: 'Pixel';
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase; }
      .team-member-info span {
        margin: 6px 0 0 0;
        font-family: 'Muli';
        font-size: 18px;
        font-weight: normal;
        font-style: italic; }
      .team-member-info p {
        width: 25vw;
        margin: 8px 0 0 0;
        font-family: 'Muli';
        font-size: 16px;
        font-weight: 300;
        font-style: italic; }
        .team-member-info p::before {
          content: '"'; }
        .team-member-info p::after {
          content: '"'; }
    .team-member:nth-child(1) {
      text-align: right;
      padding: 24px 32px 24px 0; }
    .team-member:nth-child(2) {
      justify-content: flex-start;
      text-align: left;
      padding: 24px 0 24px 32px; }
